/* Color Variables */
:root {
	--main-fg: #014;
	--main-bg: #def;
	--link-hover-color: #600;
	--link-border: #89b;
	--link-hover-border: #933;
	--link-hover-bg: #eef;
	--sub-border: #fff;
	--sub-bg: #cdf;
	--accent-fg: #fff;
	--accent-bg: #679;
	--accent-border: #f9f9ff;
}
.main {
	background: var(--main-bg);
	color: var(--main-fg);
}
